@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  main {
    @apply pointer-events-auto;
    max-height: 90%;
    margin: 5%;
    overflow-x: hidden;
    overflow-y: auto;
    color: #7b7b7b;
    font-family: 'raleway', sans-serif;
  }

  nav + main {
    max-height: calc(90% - 4rem);
  }
}

@layer components {
  .bg-panel {
    @apply backdrop-blur-lg backdrop-saturate-150 bg-background/90;
  }

  .bg-panel-hover {
    @apply backdrop-blur-lg backdrop-saturate-150 bg-background/90 hover:bg-background/70;
  }
}